body {font-family: Arial, Helvetica, sans-serif;}
form {border: 3px solid #f1f1f1;}

.containers {
    width: 50%;
     height: 600px;
     margin: auto;
     border: 3px solid #04AA6D;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 16px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.imgcontainer {
  text-align: center;
  margin: 34px 0 22px 0;
}
/* 
img.avatar {
  width: 40%;
  border-radius: 50%;
} */

.container {
  padding: 36px;
  margin: 20px 0;
}

span.psw {
  float: right;
  padding-top: 16px;
}

form h2 {
    text-align: center;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}

.form-outline {
    display: flex;

}

.TableSection {
    padding: 20px;
    margin: 20px;
}

.mainTable {
  padding-top: 30px;
  margin-top: 30px;
}

@media (min-width: 600px) {
  container {
    width: 100%;
  }
}


@media (min-width: 800px) {
  container {
    width: 100%;
  }
}


@media (min-width: 400px) {
  container {
    width: 100%;
  }
}


@media (min-width: 600px) {
  containers {
    width: 100%;
  }
}


@media (min-width: 400px) {
  containers {
    width: 100%;
  }
}


@media (min-width: 800px) {
  containers {
    width: 100%;
  }
}
